@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: rgba(93, 12, 255, 1);
}
body {
  overflow: hidden;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 65%
  );
}
#root {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
@mixin button {
  font-family: "Roboto Mono", monospace;
  padding: 0.7rem 0.6rem;
  border-radius: 0 4px 4px 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}
// app css start from here
.todo-app {
  width: 40vw;
  min-width: 500px;
  min-height: 280px;
  height: auto;
  background: #161a2b;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .popup {
    background: linear-gradient(
      45deg,
      rgba(155, 0, 250, 1) 0%,
      rgba(93, 12, 255, 1) 100%
    );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 10rem;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem;
    box-shadow: 0 0 25px #5d0cff;

    &-text {
      text-align: center;
      margin-top: 0.5rem;
      font-size: 1.5rem;
    }

    &-button {
      @include button;
      width: 5rem;
      margin: 0 auto;
      margin-top: 1rem;
      border-radius: 50px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      color: rgba(155, 0, 250, 1);
    }
  }
  h2 {
    text-align: center;
    color: #fff;
    margin: 1rem 0;
  }

  form {
    width: 75%;
    display: flex;
    border-radius: 5px;
    border: #5d0cff;
    margin-bottom: 1rem;

    .todo-input {
      font-family: "Roboto Mono", monospace;
      width: 75%;
      font-size: 1rem;
      border-radius: 4px 0 0 4px;
      color: #fff;
      outline: none;
      padding: 0.7rem 0.3rem;
      border: 2px solid #5d0cff;
      background-color: #161a2b;
      text-indent: 12px;
      caret-color: #5d0cff;

      &:focus {
        box-shadow: 0 0 6px #5d0cff;
      }
      &::placeholder {
        color: #fff;
        opacity: 80%;
      }
    }
    .todo-button {
      @include button;
      background: linear-gradient(
        91deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
      );
      text-align: center;
      flex: 1;
      transition: 0.2s ease-in;

      &:hover {
        background: linear-gradient(
          91deg,
          rgba(93, 12, 255, 1) 0%,
          rgba(93, 12, 255, 1) 100%
        );
        letter-spacing: 1px;
      }

      &:focus {
        box-shadow: 0 0 8px #5d0cff;
      }
    }
  }

  .item-list-wrapper {
    .scroll-wrapper {
      max-height: 60vh;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .clearall {
      margin: 1.5rem 0.8rem;
      display: flex;
      justify-content: flex-end;

      .clearall-button {
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0.7rem 0.8rem;
        border-radius: 4px;
        font-family: "Roboto Mono", monospace;
        font-size: 0.8rem;
        color: #fff;
        background: linear-gradient(
          90deg,
          rgba(93, 12, 255, 1) 0%,
          rgba(155, 0, 250, 1) 100%
        );
      }
    }
  }
  .intro {
    height: 100%;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    &-text {
      border: 2px solid #5d0cff;
      padding: 1rem 2rem;
      transition: all 0.3s;
      &:hover {
        padding: 1.2rem 2.2rem;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
  background: linear-gradient(
    180deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}
